<div class="hero-wrap">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url('@Url.Content("~/images/Untitleddesign01.png")');">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-8 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2>We Grow not only your Business, also Dream </h2>
                            @*<h1 class="mb-4">We Help You Businesses Innovate and Grow</h1>*@
                            <p><a href="@Url.Action("Index","Contact")" class="btn btn-white" target="_blank">Connect with us</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <img src="~/images/bg_3.jpg" />*@
        <div class="slider-item" style="background-image:url('@Url.Content("~/images/collage2.png")');">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-8 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2>We Give Advice</h2>
                            <h1 class="mb-4">Expert Financial Advice</h1>
                            <p><a href="@Url.Action("Index","Contact")" class="btn btn-white" target="_blank">Connect with us</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image:url('@Url.Content("~/images/collage5.png")');">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-8 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2>We Support Business</h2>
                            <h1 class="mb-4">The Best Business Support</h1>
                            <p><a href="@Url.Action("Index","Contact")" class="btn btn-white" target="_blank">Connect with us</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>